* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  opacity: 85%;
  backdrop-filter: blur(10px);
  padding: 24px 0px;
}

ul {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style-type: none;
}

a { 
  text-decoration: none; 
}

ul > li > a {
  font-size: 1.4rem;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-title {
  font-size: 2.8rem;
  color: white;
  font-family: cursive;
}

/* Start of index.html stylings */
#homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: rgb(216, 216, 216);
  padding: 0px 64px;
  background-image: url('img/backgrounds/earth.jpg');
  background-position: center;
  background-size: 100% 100%;
}

#homepage > p { 
  font-size: 4rem; 
}

#homepage > p > span { 
  font-family: cursive;
  color: #0662b3;
}

#homepage > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 48px 0px;
  padding: 8px 32px;
  color: white;
  background-color: #173046;
  border-radius: 10px;

  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}

#homepage > a > svg {
  width: 40px;
  filter: invert(90%);
}

#about {
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding: 12% 64px;
}

#about > h1 {
  font-size: 6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.about-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 500px;
  min-height: 700px;
}

.about-item > img {
  max-width: 500px;
  border-radius: 20px;
}

.about-item > h2 {
  margin: 44px 0px 32px 0px;
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-item > p {
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.previous-clients-logos {
  width: 100vw;
  padding: 24px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  background-color: rgb(12, 12, 12);
}

.previous-clients-logos > img {
  width: 160px;
}

#courses {
  width: 100vw;
  background-image: url('img/backgrounds/northern-lights.jpg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 96px;
  padding: 10% 64px;
  color: white;
}

#courses > h1 {
  font-size: 6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-self: center;
}

.courses-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.course-item {
  min-width: 320px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  border-radius: 10px;
  background-color: #0d2030;
  padding: 32px 16px;
}

.course-item > h1 {
  padding: 4px 32px;
  align-self: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 10px;
  border-radius: 20px;
}

.course-item > img {
  align-self: center;
}

.gfg-logo { width: 210px; }
.mdn-logo, .fcc-logo { height: 70px; }
.w3-logo { height: 140px; }
.fcc-logo { filter: invert(100%); }

.course-item-text {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.course-item-text > a {
  padding: 16px 8px;
  width: 45%;
  margin-top: 16px;
  text-align: center;
  background-image: linear-gradient(to bottom right, red, blue);
  color: white;
  border: 4px solid rgb(8, 8, 8);
  box-shadow: 4px 4px 12px black;
  border-radius: 20px;
}

#requirements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10% 64px;
  background-color: rgb(12, 12, 12);
  color: white;
}

#requirements > h1 {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.requirements-description {
  max-width: 1000px;
  font-family: 'Courier New', Courier, monospace;
}

.requirements-items {
  display: flex;
  flex-wrap: wrap;
  gap: 96px;
  padding: 96px 5%;
}

.requirement > h2 {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 12px;
}

.requirement > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 32px;
}

.requirement > ul > li {
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  display: flex;
  gap: 8px;
}

.requirement > ul > li > svg {
  min-width: 30px;
  width: 40px;
  filter: invert(100%);
}

#employees {
  width: 100vw;
  background-image: url('img/backgrounds/mountain2.jpg');
  background-size: 100% 100%;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 10% 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#employees > h1 {
  font-size: 6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.employees-description {
  max-width: 1000px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.people {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 96px;
  margin-top: 5%;
  padding: 16px;
}

.person {
  display: flex;
  flex-wrap: wrap;
}

.person-info > h2 {
  font-family: cursive;
  font-size: 2rem;
}

.person-info {
  background-color: rgb(19, 19, 19);
  color: rgb(228, 228, 228);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 240px;
}

.person > img {
  width: 240px;
  border-radius: 10px 0px 0px 10px;
}

#job-application {
  width: 100vw;
  background-color: rgb(12, 12, 12);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 10% 48px;

  display: flex;
  flex-direction: column;
  gap: 112px;
}

#job-application > h1 {
  font-size: 6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.application-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  width: 516px;
  min-height: 585px;
}

input {
  padding: 24px 32px;
  font-size: 1.1rem;
  background-color: black;
  border: none;
  color: white;
  border-radius: 8px;
}

form > input:last-child::file-selector-button {
  border: 1px solid #0662b3;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: black;
  color: white;
  margin-right: 16px;
}

textarea {
  resize: none;
  height: 300px;
  padding: 24px 32px;
  font-size: 1.1rem;
  background-color: black;
  border: none;
  color: white;
  border-radius: 8px;
}

.application-description {
  max-width: 516px;
  min-height: 585px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.application-description > h2 {
  font-size: 2.6rem;
  color: #0662b3;
}

.contact-methods {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-method-info > p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: cursive;
}

.contact-method-info > p:last-child {
  font-size: 0.9rem;
  color: rgb(179, 179, 179);
}

.contact-methods > svg {
  width: 30px;
  filter: invert(100%);
}